@import 'partials/settings';
@import 'partials/foundation';
@import "font-awesome/font-awesome";

// min-width 1441px Large screen row width
@media only screen and (min-width: 90.063em) {
	.row {
	max-width: 81.25em;
	}
} 

//Testimonial transition

#testimonials {
	position: absolute;
	left: 50%;
	width: 400px;
	height: 400px;
	margin-left: -200px;
	background: $highlight-color_bright;
	border-radius: 200px;
	padding: 100px 40px 0 60px;
	-webkit-transform: translateY(-500px);
	transform: translateY(-2500px);
	-webkit-animation: example 10s ease 1s 2 alternate;
	z-index: 10;
	
	blockquote, blockquote p {
		color: #fff;
	}
}

@-webkit-keyframes example {
   0% { -webkit-transform: translateY(-500px); }
   50% { -webkit-transform: translateY(0px); }
   100% { -webkit-transform: translateY(0px); }
}

// Top Nav

.top-bar .name {
	h1 {
		font-family: 'Allura', cursive;
		color: #000000;
		font-size: 1.375rem;
		span {
			color: $base-color;
		}
	}
}

.top-bar-section ul li>a {
	font-size: 1rem;
	font-weight: bold;
}

//disable phone number link
.top-bar-section ul.left li>a {
	pointer-events: none;
    cursor: default;
}

// color Font Awesome Orange
.fa {
	color: $base-color;
}

// Item Number Highlighted
.drop-cap-number {
	width: 32px;
	height: 32px;
	background: #c6c6c6;
	margin: 0 14px 14px 0;
	line-height: 32px;
	text-align: center;
	display: block;
	float: left;
	border-radius: 16px;
	font-size: 16px;
	font-size: 1rem;
	color: #fff;
	-webkit-transition: background 300ms ease-out;
	-moz-transition: background 300ms ease-out;
	transition: background 300ms ease-out;
}

.right-block {
	display: table;
}

// Hover effect on .drop-cap-number
.item:hover .drop-cap-number {
	background: $base-color;
}

@media only screen and (min-width: 40.063em) { 
	.top-bar .name h1 { font-size: 2.125rem; }
}

#homepage-hero {
	background: url(../../img/wave.svg) #ff6b01 -50px -15px;
	background-size: cover;
	text-align: left;
	position: relative;
	padding: 50px 20px 20px 20px;
	
	h1, h3, a, .fa {
		color: #fff;
	}
	
	.button { 
		background: $highlight-color;
	}
	
	.button:hover { 
		background: $highlight-color_bright;
	}
}

/* min-width 1025px, large screens */
@media only screen and (min-width: 64.063em) { 
	#homepage-hero {
		padding-top: 100px;
		padding-bottom: 100px;
	}
} 


#watch section {
	color: #fff;
	float: left;
	width: 150px;
	margin-bottom: .25em;
}

// max-width 640px
@media only screen and (max-width: 40em) { 
	#watch {
		margin-bottom: 2.5em;
	}
} 

/*#homepage-hero .hit-your-mark {
	width: 40%;
	position: absolute;
	right: 100px;
	top: 30px;

	img {
		width: 100%;
	}
	
	h3 {
		text-align: center;
		color: #fff;
		font-weight: bold;
	}

}*/

/*.homepage-video {
	width: 40%;
	position: absolute;
	right: 100px;
	top: 100px;
}*/

@media screen and (max-width: 57.5em) {
	#homepage-hero .hit-your-mark {
		width: 50%;
		right: 0;
	}
}
