@import 'partials/settings';

#homepage-hero {
	background: url(../../img/wave.svg) #ff6b01 -50px -15px;
	background-size: cover;
	height: 650px;
	text-align: left;
	position: relative;
	padding: 100px 20px 0 20px;
	
	a {
		color: #fff;
	}
}

@media screen and (max-width: 64em) {
	#homepage-hero {
		height: 500px;
	}
}

#watch section {
	float: left;
	width: 150px;
	margin-bottom: 4px;
}

#homepage-hero .hit-your-mark {
	width: 40%;
	position: absolute;
	right: 100px;
	top: 30px;

	img {
		width: 100%;
	}
	
	h3 {
		text-align: center;
		color: #fff;
		font-weight: bold;
	}

}

@media screen and (max-width: 57.5em) {
	#homepage-hero .hit-your-mark {
		width: 50%;
		right: 0;
	}
}
